<!-- SPDX-License-Identifier: GPL-3.0-or-later -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application android:allowBackup="true" android:label="@string/app_name" android:theme="@style/Theme.MobileRawEditor">
    <activity android:name=".MainActivity" android:exported="true">
      <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/><action android:name="android.intent.action.EDIT"/>
        <category android:name="android.intent.category.DEFAULT"/><category android:name="android.intent.category.BROWSABLE"/>
        <data android:mimeType="image/x-adobe-dng"/><data android:mimeType="image/x-canon-cr2"/>
        <data android:mimeType="image/x-canon-cr3"/><data android:mimeType="image/x-nikon-nef"/>
        <data android:mimeType="image/x-sony-arw"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/><action android:name="android.intent.action.EDIT"/>
        <category android:name="android.intent.category.DEFAULT"/><data android:scheme="content" android:pathPattern=".*\\.dng"/>
        <data android:scheme="content" android:pathPattern=".*\\.DNG"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
